@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,500&display=swap');
/*<==========CSS Reset==========> */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    overflow:visible;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}
a.hom{
    color: var(--txt-color);
    padding: 2rem 3rem;
    display: block;
    transition: 0.3s ease;
}
a:hover{
    color:var(--bg-color) ;
}
/*<==========Colors used in light Theme==========> */
:root{
    --bg-color:#fff;
    --txt-color:#000;
}
/*<==========Colors used in dark Theme==========> */
.dark-theme{
    --bg-color:#000;
    /* --bg-color:#111827; */
    --txt-color:#fff;
}
/*<==========html px resizing==========> */
html{
    font-size: 62.5%;
}
/*<==========icons of dark and light mode Start==========> */
i.fa-sun, i.fa-moon{
    position:relative;
    transform: translate(0rem,-50%);
    box-shadow: 1px 3px 8px rgb(176, 172, 172);
    box-shadow: inset ;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    position: sticky;
    left: 0;
    bottom: 40%;
    font-size: 3rem;
    padding: 1rem;
    cursor: pointer;
}
.fa-solid.fa-bars-staggered.fa-lg{
    color: var(--txt-color);
}
.colorbody{
    background-color: var(--bg-color);
    color: var(--txt-color);
}
/*<==========icons of dark and light mode End==========> */
/*<==========Text select color change==========> */
::selection{
    color: rgb(17, 226, 237);
    background-color: var(--bg-color);
}
/*<==========Section for all html pages==========> */
section{
    width: 100vw;
    height: 90vh;
}
/*<==========navbar design Start==========> */
.nav{
    background-color: var(--bg-color);
    display: flex;
    z-index: 1000;
    justify-content:space-between;
    align-items: center;
    font-family: 'Poppins', sans-serif;
    top: 0;
}
.hamburger{
    outline: none;
    border: none;
    display: none;
    background-color: var(--txt-color);
}
div.main{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
img{
    width: 4rem;
    height: 4rem;
    padding:1.8rem 2rem;
}
ul{
    display: flex;
    justify-content: space-around;
    padding-right: 2rem;
}
ul li{
    list-style: none;
    padding: 1rem 0;
}
ul li a{
    padding: 1rem;
    margin: 0 3rem;
    font-size: 1.8rem;
}
ul li a:hover{
    color: var(--bg-color) !important;
    background-color: var(--txt-color);
}
ul li a{
    text-decoration: none;
    color: var(--txt-color);
    transition: 0.3s ease;
}
/*<==========navbar design End==========> */
/*<==========Home page Design==========> */
.text{
    text-transform: uppercase;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.text>h3{
    font-size: 2rem;
}
#btn,#button1,#button2{
    margin: 1.5rem 1.0rem;
    background: none;
    border: solid .2rem var(--txt-color);
    outline: none;
    margin: 1rem;
    color: var(--txt-color);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: bold;
    outline: none;
    text-transform: uppercase;
    letter-spacing: .2rem;
}
#button1:hover,#button2:hover{
    background: var(--txt-color) ;
    color: var(--bg-color);
}

div h3,h4{
    margin: 1rem 0;
    font-size: 1.5rem;
}
div h1{
    font-size: 3rem;
}
.Quote{
    font-weight: 900;
    font-size: 2rem;
    font-style: italic;
}
/*<==========Home page Design End==========> */
/*<==========contact start Design==========> */
div.work{
    width: 100%;
    height: 80vh;
    display: flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: center;

}
#getintouch{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    padding: 0 5rem;
    /* height: 60vh;  */
    /* border: 2px solid red; */
}
div.contactus{
    /* width: 50%;
    padding: 1rem;
    height: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem 5rem;
    margin-inline: 6rem;
    border: 2px solid red; */
    /* border: 2px solid red; */
    width: 50%;
    /* height: 60vh; */
    margin-inline: 3rem;
    padding: 1rem;
    /* height: 100%; */
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}
div.contactus h1{
    width: 100%;
    padding: 1.5rem;
    margin: 1rem auto;
    text-align: center;
    /* font-size: 2.4rem; */
    /* border: 2px solid red; */
}
div.outerp{
    /* padding-left: 10rem;
    display: flex;
    align-items:center;
    margin: 2rem 0; */
    padding: 3rem;
    /* border: 2px solid seagreen; */
    margin: .8rem;
    width: 100%;
    text-align: center;
    display: flex;
    /* padding: 0 2rem; */
    padding: 0 4rem;
    /* padding-left: 4rem; */
    align-items: center;
    justify-content:flex-start;
}
div.outer{
    /* padding-left: 10rem;
    display: flex;
    align-items:center;
    margin: 2rem 0; */
    padding: 3rem;
    /* border: 2px solid blueviolet; */
    margin: .8rem;
    width: 100%;
    text-align: center;
    display: flex;
    /* padding: 0 2rem; */
    padding: 0 4rem;
    /* padding-left: 4rem; */
    align-items: center;
    justify-content:flex-start;
}
div.inner1 span{
    /* padding: 1rem;
    font-size: 4rem; */
    padding-inline:1rem ;
}
div.inner2{
    padding: 2rem;
} 
div.inner2 p{
    font-size: 2rem;
}
div.inner2 p span{
    font-size: 2rem;
    font-weight: bold;
}
#getintouch label{
    padding:1rem 0;
    font-size: 1.6rem;
}
form h1{
    margin: auto;
    padding: 2rem;
}
#getintouch input[type=text],input[type="email"],textarea{
    color: var(--txt-color);
    border: none;
    text-transform: uppercase;
    letter-spacing: .1rem;
    border-bottom: .2rem solid var(--txt-color);
    background-color: var(--bg-color);
    padding: 1.2rem 2rem;
    margin: .8rem 0;
    outline: none;
}
#form_button {
    background: none;
    border: solid .2rem #474544;
    width: 50%;
    color: var(--txt-color);
    cursor: pointer;
    font-size: 1.5rem;
    font-weight: 900;
    outline: none;
    padding: 2rem 3rem;
    text-transform: uppercase;
    margin: auto;
    letter-spacing: .2rem;
  }
  
  #form_button:hover {
    background: var(--txt-color);
    color:var(--bg-color);
  }
/*<==========contact end Design==========> */

/*<==========project Section Start==========> */
div.projheader{
    padding: 2rem;
    font-size: 2em;
    text-align: center;
}
div.projsection{
    padding: 4rem;
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-rows: 20rem 20rem;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 2rem;
    column-gap: 2rem;
}

div.box1{
    border: .2rem solid var(--txt-color);
    display: flex;
    justify-content:center ;
    align-items: center;
}
div.box1 h4{
    color: var(--txt-color);
    font-size: 2rem;
    text-transform: capitalize;
}

/*<==========project Section End==========> */

/*<==========about Section Start==========> */
div.aboutmain{
    position: relative;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
img.profileimg{
    margin: 2rem 0;
    top: 0;
    left: 0;
    width: 40rem;
    height: auto;
}

div.aboutpara{
    width: 50%;
    height: 300px;
    padding: 10rem 0;
    font-size: 1.6rem;
}
div.aboutpara>p{
    padding: 1rem 0;
    line-height: 2.8rem;
    letter-spacing: .2rem;
    font-size: 2rem;
}
div.aboutpara>p>span{
    font-size: 4rem;
    font-weight: 800;
}
button.hamburger .closeIcon{
    color: var(--txt-color);
}
/*<==========about Section End==========> */

/*<==========Responsive Design Start==========> */
@media screen and (min-width: 998px) {
    div.aboutpara{
        overflow-y: scroll;
        width: 50%;
        height: 300px;
        padding: 10rem 0;
        font-size: 1.6rem;
    }
    /* div.contactus{
        /* width: 50%; */
        /* flex-wrap: wrap; */
        
  }
  @media(max-width:1280px){
    html{
        font-size: 50%;
    }
    #getintouch{
        /* color: red; */
    }
    div.contactus{

    }
  }
  @media(max-width:1032px){
    div.inner2>p{
        font-size: 1.7rem;
    }
    html{
        font-size: 50%;
    }
  }
@media(max-width:998px){
    html{
        font-size: 60%;
    }
    #getintouch>h1{
        padding: 2rem 0 ;
        /* font-size: 3rem; */
        width: 100%;
        /* color: red; */

    }
    div.projsection{
        height:100vh;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr 2fr ;
    }
    div.work{
        /* width: 100%; */
        /* font-size: .8rem; */
         height: 90vh;
        background-color:var(--bg-color) ;
        /* display: flex;
        justify-content:center;
        align-items: center; 
        padding: 0; */
        }
        div.outer{
            width: 100%;
        }
        div.contactus{
            /* display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 60vh; */
        }
        div.outerp{
            width: 100%;
            padding: 0;
            margin: 0;
        }
        div.outer{
            /* margin: 0; */
            padding: 0;
        }
        div.contactus{
            /* padding: 0;
             width: 50%; */
             
        }
        div.inner2{
            /* padding: 0 2rem; */

        }
        div.inner2>p{
            /* padding: 0;
            font-size: 1.6rem; */
        }
        div.contactus>h1{
            /* margin: 0; */
        }
    div.aboutmain{
        width: 100%;
        height: 100vh;
        display: flex;
        overflow: visible;
        justify-content:space-between;
        align-items: center;
        flex-direction: column;
        background-color: var(--bg-color);

    }
    img.profileimg{
        width: 40rem;
        height: auto;
    }
     div.aboutpara{
        width: 70%;
        height: 100%;
        padding: 3rem 0;
        font-size: 1.6rem;
    }
}
@media(max-width:835px){
    html{
        font-size: 55%;
    }
    /* div.inner2>p{
         padding: 0;
        font-size: 1.6rem;
    }
    div.inner2>p>span{
        font-size: 1.3rem;
    } */
}
@media(max-width:768px){
    html{
        font-size: 55%;
    }
    .nav{
        z-index: 1000;
        top: 0;
        padding-top: 1rem;
    }
    ul{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        flex-direction: column;
        padding-right: 2rem;
        height: 50vh;
    }
    ul li{
        list-style: none;
        padding: 1rem 0;
    }
    ul li a{
        padding: 1rem;
        font-size: 2.8rem;
    }
    .hamburger {
        display: block;
        margin-top: 1rem;
        position: fixed;
        z-index: 100;
        top: 1rem;
        right: 1rem;
        background-color: var(--txt-color);
        padding: 1rem;
        cursor: pointer;
        border: none;
        background-color: transparent;
        width:10rem;
        height:3.4rem;
        object-fit: fill;
      }
      .closeIcon {
        display: none;
      }
      button.hamburger .closeIcon{
        display: none;
        color: var(--txt-color);
      }
      button.hamburger i{
        background-color: var(--bg-color);
        border-radius: 50%;
        border: none;
        outline: none;
        padding: none;
      }
      .hamburger{
        outline: none;
      }
      .hamburger:focus {
        outline: none;
        box-shadow: none;
    }
      .menu {
        position: fixed;
        transform: translateY(-105%);
        transition: transform 0.2s;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 99;
        background: var(--bg-color);
        color: var(--txt-color);
        list-style: none;
        padding-top: 4rem;
      }
      .showMenu {
        transform: translateY(0);
      }
      div.aboutmain{
        width: 100%;
        height: 80vh;
        overflow: visible;
        height: auto;
        justify-content:space-around;
        align-items: center;

    }
    img.profileimg{
        margin: 2rem 0;
        width: 20rem;
        height: auto;
    }
    
  
    div.projsection{
        height:150vh;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr ;
    }
    #getintouch{
        width: 80vw;
    }
    
    div.work{
        width: 100wv;
        height: 150vh;
        background-color:var(--bg-color) ;
        display: flex;
        flex-direction: column;
    }
    div.outerp{
        width: 100%;
    }
    div.outer{

        width: 100%;
        padding: 0;
        /* justify-content: center;
        align-items: flex-end; */
    }
    div.contactus{
        width: 80%;
        }
    div h3,h4{
        /* margin: 1rem 0;
        font-size: 1.5rem; */
    }
    div h1{
        /* font-size: 3rem; */
    }
    div.contactus h1{
        /* font-size: 3rem; */
        
    }
    div.inner1 span{
        /* font-size: 4rem; */
    }
    div.inner2{
        /* padding: 3rem; */
    }
    div.inner2 p{
        /* font-size: 2rem; */
    }
    div.inner2 p span{
        /* font-size: 2rem;
        font-weight: bolder; */
    }
    div.aboutpara{
        width: 70%;
        height: 300px;
        padding: 1rem 0;
        font-size: 1.6rem;
    }
}
@media(max-width:600px){
    html{
        font-size: 50%;
    }
    div.outer{
        width: 100%;
        padding: 0;
    }
    div.contactus{
        /* width: 80%;
        padding: 2rem; */
        }
        #getintouch{
            width: 80vw;
        }
        
        div.work{
            width: 100wv;
            height: 150vh;
            background-color:var(--bg-color) ;
            display: flex;
            flex-direction: column;
        }
        /* div.outerp{
            /* width: 70%; */
        } */
        div.outer{
    
            width: 100%;
            padding: 0;
            /* justify-content: center;
            align-items: flex-end; */
        }
        div.contactus{
            width: 80%;
            }

        div.inner1 span{
            font-size: 2rem;
        }
        div.inner2{
            padding: 2rem 0;
        }
     
}
@media(max-width:480px){
    html{
        font-size: 45%;
    }
    div.aboutpara{
        width: 70%;
        height: 300px;
        padding: 1rem 0;
        font-size: 1.6rem;
    }
    /* div.outer{
        width: 100%;
        padding: 0;
    } */
    div.contactus{
        width: 80%;
        /* padding: 2rem; */
        }
        div.outer{
            width: 100%;
            padding: 0;
        }
        div.contactus{
            width: 80%;
            }

        div.inner1 span{
            font-size: 1.5rem;
        }
        div.inner2{
            padding: 2rem 0;
        }
        div.inner2>p{
            font-size: 1.2rem;
        }
        div.inner2>p>span{
            font-size: 1.2rem;
            font-weight:bolder ;
            letter-spacing: .1rem;
        }
        #getintouch{
            padding: 1rem;
        }
        #getintouch>h1,div.contactus h1{
            font-size: 2rem;
        }
}
@media(max-width:370px){
    html{
        font-size: 40%;
    }
    div.work{

    }
    div.outerp{
        width: 100%;
        padding: 0;
        margin: 0;
    }
    div.outerp>div.outer>div.inner2>p>span{
        font-size: 2rem;
    }

    div.contactus{
        width: 80%;
        padding: 2rem;
        }
        /* div.outer>p{
            padding: 0;
        } */
        div.box1{
            border: .2rem solid var(--txt-color);
            display: flex;
            justify-content:center ;
            align-items: center;
        }
        div.projsection{
            /* height: 100vh; */
        }
        div.outerp>div.outer>div.inner2>p>span {
            font-size: 1.5rem;
        }
        div.outerp>div.outer>div.inner2>p>span {
            font-size: 1.5rem;
        }
        #getintouch{
            /* color: red; */
            padding: 1rem;
        }
}

/*<==========Responsive Design Start==========> */
